* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}


nav{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 70px;
  background: #471c1c;
}
nav .navbar{
  max-width: 1200px;
  margin: auto ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.navbar .logo a{
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .nav-links{
  height: 100%;
  line-height: 70px;
}
.navbar .nav-links .links{
  display: flex;
}
.navbar .nav-links .links li{
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 14px;
}
.navbar .nav-links .links li a{
  color: #fff;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
}
.navbar .nav-links .links li .arrow{
  height: 100%;
  width: 22px;
  text-align: center;
  color: #fff;
  line-height: 70px;
  transition: all 0.3s ease;
}
.navbar .nav-links .links li:hover .services-arrow,
.navbar .nav-links .links li:hover .location-arrow{
  transform: rotate(180deg);
}

.navbar .nav-links .links li a[href="login.html"]:hover {
  background-color: #f10d0d; /* Change to your desired background color */
  text-decoration: none;
  transition: 1s;/* Change to your desired text color */
  /* Add any other styles you want to apply when hovering */
}
.navbar .nav-links .links .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  background: #471c1c;
  line-height: 40px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0. 0.2);
}
.navbar .nav-links .links .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba()
}
.navbar .nav-links .links .sub-menu li a{
  font-size: 15px;
  font: 500;

}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #490707;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  z-index: 1;
  top: 100%;
  left: 0;
  padding: 0 5px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu a {
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #ec1d1d;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  padding: 50px 30px;
  background-color: rgb(233, 222, 209);
}

.text-box {
  width: 50%;
  padding: 0 90px 0 90px;
}

.text-box h1 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 40px;
}

.register-button {
  margin-bottom: 40px;
  font-size: 20px;
  margin-top: 20px;
  color: black;
}
.register-button a {
  text-decoration: none;
}

.img {
  width: 100;
  max-width: 400px;
  height: 500px;
  margin-right: 20px;
  object-fit: contain;
}

.Search-button{
  display: inline-block;
  text-decoration:none;
  text-align: center;
  color: #fff;
  border: 1px solid #080808;
  padding: 10px 120px;
  font-size: 22px;
  background: #471c1c;
  position: center;
  cursor: pointer;
}
.Search-button:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
